{% include 'src/base.html' %}

{% block content %}
<div class="container">
    <div style="margin-top: 2.2rem;">
        <b>Tec Electrical!</b> Gambia’s very own we are specialized on house wiring, Solar installation and small industrial
        automation.
        <p>
            Our intervention stems out of the zeal to
            support Gambia with requisite skills in providing a standard and more affordable wiring and the
            general installations of Solar Systems (Off-Grid) with our existing expertise to not only serve
            the Gambia but create new technology in meeting international standards. And to also help in
            fulfilling our corporate social responsibility in both providing employment for the people,
            train Gambians on Job and also import the right technical and electrical resources to the Gambia.
        </p>
        <p>
            We pride ourselves on practicing what we preach. Our enthusiastic team is committed to preserving
            the environment, and also happen to have years of expertise in complex standalone power system
            design and installation. The entire team combines their passion for renewable energy with their
            strong work ethic and customer focus.
        </p>
        <p>
            Tec Electricals is one of the leading solar Company in
            designing and installation of solar electrification systems in The Gambia. We provide packaged and
            custom solutions with lifetime customer support. Our relationship with you, our customer,
            starts with a free evaluation of your site. We work with you to determine your energy needs, and
            then recommend solutions that fit within your budget.
        </p> Tec Electricals goes beyond designing and
        <p>
            installing of solar system. We advise customers to replace energy-wasting lights and other
            appliances with cost-effective energy saving devices, and even offer suggestions to remodel
            customer’s homes to take full advantage of natural cooling and lighting.
        </p>
    </div>
</div>
{%  endblock %}